* {
    /*border: 1px solid red;*/
}

html, body {
    margin: 0;
    padding: 0;

    font-size: 10px;
    box-sizing: border-box;
}
.header {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/header.png');
}
.container {
    height: 100%;
    display: grid;
    min-height: 100vh;
    background-color: darkgray;
    grid-template-columns: auto auto auto auto auto;
}
.portfolioItem {
    min-width: 15vw;
    height: 40vh;
    column-gap: 0px;
    filter: grayscale(0%);
}
.portfolioItem:hover {
    filter: grayscale(100%);
}
._1 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/1.png');
}
._2 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/2.png');
}
._3 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/3.png');
}
._4 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/4.png');
}
._5 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/5.png');
}
._6 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/6.png');
}
._7 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/7.png');
}
._8 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/8.png');
}
._9 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/9.png');
}
._10 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/10.png');
}
._11 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/11.png');
}
._12 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/12.png');
}
._13 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/13.png');
}
._14 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/14.png');
}
._15 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/15.png');
}
._16 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/16.png');
}
._17 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/17.png');
}
._18 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/18.png');
}
._19 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/19.png');
}
._20 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/20.png');
}
._21 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/21.png');
}
._22 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/22.png');
}
._23 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/23.png');
}
._24 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/24.png');
}
._25 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/25.png');
}
._26 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/26.png');
}
._27 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/27.png');
}
._28 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/28.png');
}
._29 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/29.png');
}
._30 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/30.png');
}
._31 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/31.png');
}
._32 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/32.png');
}
._33 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/33.png');
}
._34 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/34.png');
}
._35 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/35.png');
}
._36 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/36.png');
}
._37 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/37.png');
}
._38 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/38.png');
}
._39 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/39.png');
}
._40 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/40.png');
}
._41 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/41.png');
}
._42 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/42.png');
}
._43 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/43.png');
}
._44 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/44.png');
}
._45 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/45.png');
}
._46 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/46.png');
}
._47 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/47.png');
}
._48 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/48.png');
}
._49 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/49.png');
}
._50 {
    background-size: cover;
    background-position: center;
    background-image: url('./assets/50.png');
}
